@model WebTAManga.Models.AvatarFrame

<div>
    <h5>@Model.Name</h5>
    <p><strong>Giá:</strong> @Model.Price Xu</p>
    <p><strong>Hình ảnh:</strong></p>
    <img src="~/@Model.ImagePath" alt="@Model.Name" class="img-thumbnail" style="max-width: 200px;" />
</div>