@model List<WebTAManga.Models.Genre>

@if (Model != null && Model.Any())
{
    @foreach (var genre in Model)
    {
        <li><a class="dropdown-item" asp-controller="Home" asp-action="StoriesByGenre" asp-route-genreId="@genre.GenreId">@genre.Name</a></li>
    }
}
else
{
    <li><span class="dropdown-item">Không có thể loại</span></li>
}