@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card comic-card">
                <img src="https://via.placeholder.com/200x300" class="card-img-top" alt="Comic Cover">
                <div class="card-body text-center">
                    <h5 class="card-title">Comic Title 1</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card comic-card">
                <img src="https://via.placeholder.com/200x300" class="card-img-top" alt="Comic Cover">
                <div class="card-body text-center">
                    <h5 class="card-title">Comic Title 2</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card comic-card">
                <img src="https://via.placeholder.com/200x300" class="card-img-top" alt="Comic Cover">
                <div class="card-body text-center">
                    <h5 class="card-title">Comic Title 3</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card comic-card">
                <img src="https://via.placeholder.com/200x300" class="card-img-top" alt="Comic Cover">
                <div class="card-body text-center">
                    <h5 class="card-title">Comic Title 4</h5>
                </div>
            </div>
        </div>
    </div>
</div>
