@model WebTAManga.Models.CategoryRank

<div>
    <h4>Bạn có chắc muốn xóa "@Model.Name"?</h4>
    <div class="alert alert-warning" role="alert">
        Hành động này sẽ xóa Category Rank và tất cả Levels liên quan.
        @if (Model.Users.Any())
        {
            <span>@Model.Users.Count người dùng liên kết sẽ được đặt lại thành không có Category Rank.</span>
        }
        else
        {
            <span>Không có người dùng nào liên kết.</span>
        }
        Hành động này không thể hoàn tác!
    </div>
    <form asp-action="DeleteCategoryRank">
        <input type="hidden" asp-for="CategoryRankId" />
    </form>
</div>