@model WebTAManga.Models.Rank

<h4>Bạn có chắc muốn xóa cấp bậc này?</h4>
<hr />
<dl class="row">
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Name)
    </dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="RankId" />
    <input type="submit" value="Xóa" class="btn btn-danger" />
</form>