@model WebTAManga.Models.Admin

<form asp-action="" method="">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="AdminId" />

    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" readonly />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" readonly />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RoleId" class="control-label">RoleName</label>
        <input asp-for="RoleNavigation.RoleName" class="form-control" readonly/>
    </div>

    <input type="hidden" asp-for="CreatedAt" />
</form>