@model WebTAManga.Models.Role

<div class="form-group mb-3">
    <label class="control-label">Tên vai trò:</label>
    <p>@Html.DisplayFor(model => model.RoleName)</p>
</div>
<div class="form-group mb-3">
    <label class="control-label">Mô tả:</label>
    <p>@Html.DisplayFor(model => model.Description)</p>
</div>