@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<style>
    .main-sidebar .nav-link {
        display: flex;
        align-items: center;
        padding: 10px 15px;
    }

    .main-sidebar .nav-icon {
        width: 30px;
        text-align: center;
        margin-right: 10px;
    }

    .main-sidebar .nav-treeview .nav-link {
        padding-left: 45px; /* Indent sub-items */
    }

    .main-sidebar .brand-link {
        display: flex;
        align-items: center;
        padding: 10px 19px;
    }

    .main-sidebar .user-panel {
        display: flex;
        align-items: center;
    }

        .main-sidebar .user-panel .image {
            margin-right: 10px;
        }

        .main-sidebar .user-panel .info {
            flex-grow: 1;
        }

    .main-sidebar .nav-treeview {
        background-color: #343a40; 
    }
</style>

<aside class="main-sidebar sidebar-dark-primary elevation-4 position-fixed">
    <!-- Brand Logo -->
    <a href="/adminql/dashboard" class="brand-link">
        <img src="/dist/img/logo3.png" alt="Logo" class="" width="45px">
        <span class="brand-text font-weight-light ms-2">Quản trị hệ thống</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel mt-2">
            <div class="image">
                <img src="/dist/img/avt1.png" class="img-circle elevation-2" alt="User Image" style="background:white; width:35px">
            </div>
            <div class="info">
                @if (HttpContextAccessor.HttpContext.Session.GetString("AdminLogin") != null)
                {
                    var email = HttpContextAccessor.HttpContext.Session.GetString("AdminLogin");
                    var displayEmail = email.Length > 15 ? email.Substring(0, 15) + "..." : email; 
                    <a href="#" class="d-block text-wrap">@displayEmail</a>
                    <a asp-action="Logout" asp-controller="Login">Đăng xuất</a>
                }
                else
                {
                    <a href="#" class="d-block"></a>
                }
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/admins/dashboard" class="nav-link">
                        <i class="nav-icon fa-solid fa-house fa-xl"></i>
                        <p>Trang chủ</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa-solid fa-users fa-xl"></i>
                        <p>
                            Quản lý Tài khoản
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admins/admins" class="nav-link">
                                <i class="nav-icon fa-solid fa-user-shield fa-xl"></i>
                                <p>Quản lý Admins</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admins/users" class="nav-link">
                                <i class="nav-icon fa-solid fa-user fa-xl"></i>
                                <p>Quản lý Người Dùng</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/admins/roles" class="nav-link">
                        <i class="nav-icon fa-solid fa-user-tag fa-xl"></i>
                        <p>Quản lý Role</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admins/banners" class="nav-link">
                        <i class="nav-icon fa-solid fa-image fa-xl"></i>
                        <p>Quản lý Banner</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admins/stories" class="nav-link">
                        <i class="nav-icon fa-solid fa-book fa-xl"></i>
                        <p>Quản lý Truyện</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admins/genres" class="nav-link">
                        <i class="nav-icon fa-solid fa-tags fa-xl"></i>
                        <p>Quản lý Thể loại</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admins/ranks" class="nav-link">
                        <i class="nav-icon fa-solid fa-trophy fa-xl"></i>
                        <p>Quản lý Cấp bậc</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admins/AvatarFrames" class="nav-link">
                        <i class="nav-icon fa-solid fa-border-all fa-xl"></i>
                        <p>Quản lý Khung viền</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admins/Stickers" class="nav-link">
                        <i class="nav-icon fa-solid fa-stamp fa-xl"></i>
                        <p>Quản lý Nhãn dán</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admins/comments" class="nav-link">
                        <i class="nav-icon fa-solid fa-comments fa-xl"></i>
                        <p>Quản lý Bình luận</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admins/ratings" class="nav-link">
                        <i class="nav-icon fa-solid fa-star fa-xl"></i>
                        <p>Quản lý Đánh giá</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>