@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<aside class="main-sidebar sidebar-dark-primary elevation-4 position-fixed">
    <!-- Brand Logo -->
    <a href="/adminql/dashboard" class="brand-link">
        <img src="~/dist/img/..." alt="Logo" class="" width="75px">
        <span class="brand-text font-weight-light ms-2">Quản lý ...</span>
    </a>

    <!-- Sidebar
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex position-fixed bottom-0 ">
        @* <div class="image"> *@
        @*     <img src="~/dist/img/avatar_macdinh.jpg" class="img-circle elevation-2" alt="Logo"> *@
        @* </div> *@
        <div class="info">
            @{
                if (HttpContextAccessor.HttpContext.Session.GetString("AdminLogin") != null)
                {
                    <a href="#" class="d-block text-wrap">@HttpContextAccessor.HttpContext.Session.GetString("AdminLogin")</a>
                    <a asp-action="Logout" asp-controller="Login">Đăng xuất</a>
                }
                else
                {
                    <a href="#" class="d-block"></a>
                }
            }


        </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <li class="nav-item">
                <a href="/admins/dashboard" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-solid fa-house-user fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Trang chủ
                        </p>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admins/admins" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-solid fa-user-tie fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Quản lý Admins
                        </p>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admins/users" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-solid fa-user-tie fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Quản lý Người Dùng
                        </p>
                    </div>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="/admins/stories" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-regular fa-newspaper fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Quản lý Sản phẩm
                        </p>
                    </div>
                </a>

            </li>
           
            <li class="nav-item">
                <a href="/admins/genres" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-regular fa-newspaper fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Quản lý Thể loại
                        </p>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admins/ranks" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-regular fa-newspaper fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Quản lý Rank
                        </p>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admins/AvatarFrames" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-regular fa-newspaper fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Quản lý Khung viền
                        </p>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admins/favorites" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-regular fa-newspaper fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Quản lý danh sách yêu thích
                        </p>
                    </div>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="/admins/readingHistories" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-regular fa-newspaper fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Quản lý Lịch sử đọc
                        </p>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admins/comments" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-regular fa-newspaper fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Quản lý Bình luận
                        </p>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admins/ratings" class="nav-link">
                    <div class="d-flex align-items-center">
                        <div class="d-flex justify-content-center" style="width: 30px">
                            <i class="fa-regular fa-newspaper fa-xl"></i>
                        </div>
                        <p class="ms-3">
                            Quản lý Đánh giá
                        </p>
                    </div>
                </a>
            </li>

        </ul>
    </nav>
</aside>
